@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

/* chatgpt:"Kun je een voorbeeld geven van een @font-face CSS-regel voor het inladen van een lettertype genaamd 'Recoleta' vanuit een woff2-bestand?" */
@font-face {
	font-family: 'Recoleta';
	src: url('../fonts/Recoleta-Bold.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--bijna-alle-tekst:#fff;
	--html-background:#fff;
	--donkere-knopjes:#263746;
	--lichtere-knopjes:#fff;
	--button-border:#263746;
	--donkerblauw:#263746;
	--menulinks:#263746;
	--footerbg:#263746;
}




/****************/
/* JOUW STYLING */
/****************/

/* Eigenlijk is niks door mij geschreven alleen  aangepast vanaf de opdrachten van de les en chatgpt */
body main {
	padding: 4%;
	background-color: var(--html-background);
}


/* typografie */

 h1, h2, h3 {
	font-family: 'Recoleta', sans-serif;
	font-size: 2.125rem;
}

p {
	font-family: "Poppins", sans-serif;
	font-size: .875rem;
	line-height: 2.142857142857143;
	color: var(--bijna-alle-tekst);
} 

/* chatgpt:kan je met alleen css een semantische hero sectie imagae slider maken? dat bij elke nieuwe image ook nieuwe tekst komt? */
main section:first-of-type {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
}

section:first-of-type figure {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translateX(100%);
	animation: slideAnimation 12s infinite;
}

section:first-of-type img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.75);
}

/* Positioneer de tekst op de afbeelding */
section:first-of-type figcaption {
	position: absolute;
	color: var(--bijna-alle-tekst);
	text-align: center;
}

/* CTA-knop styling */
section:first-of-type a {
	display: inline-block;
	margin-top: 20px;
	padding: 1em 2.5em;
	/* font-size: 2rem; */
	color: var(--donkerblauw);
	background-color: var(--lichtere-knopjes);
	text-decoration: none;
	border-radius: 2em;	
	transition: background-color 0.3s ease;
	-webkit-text-decoration: none;
}

section:first-of-type a {
	background-color: var(--donkere-knopjes);
	color: var(--bijna-alle-tekst);
}

/* Eerste slide */
section:first-of-type figure:nth-of-type(1) {
	animation-delay: 0s;
	opacity: 1;
}

/* Tweede slide */
section:first-of-type figure:nth-of-type(2) {
	animation-delay: 4s;
	opacity: 1;
}

/* Derde slide */
section:first-of-type figure:nth-of-type(3) {
	animation-delay: 8s;
	opacity: 1;
}

/* Keyframes voor slider animatie van rechts naar links */
@keyframes slideAnimation {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(0);
		opacity: 1;
	}

	40% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

/* chatgpt:ik heb een sectie nodig met een achtegrond afbeelding. daarin staat een image die ongeveer de helft ineemt van de sectie en daarnaast de overige ruimte staat een h3 met een a link. Dit moet semantisch zijn zonder classes en ids */
main section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5%;
	border-radius: 25px;
	background-image: url('../images/home-fotos/bg-1.jpg');
	background-size: cover;
	background-position: center;
}

section:nth-of-type(3) {
	background-image: url('../images/home-fotos/bg-3.jpg');
	/* Specifieke achtergrond voor sectie 3 */
}

section:nth-of-type(4) {
	background-image: url('../images/home-fotos/bg-2.jpg');
	/* Specifieke achtergrond voor sectie 4 */
}

section:nth-of-type(2) figure,
section:nth-of-type(3) figure,
section:nth-of-type(4) figure {
	margin: 0;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

section:nth-of-type(2) figure img,
section:nth-of-type(3) figure img,
section:nth-of-type(4) figure img {
	height: auto;
}

section:nth-of-type(2) div,
section:nth-of-type(3) div,
section:nth-of-type(4) div {
	flex: 1;
	text-align: center;
}

main section:nth-of-type(2) h3,
main section:nth-of-type(3) h3,
main section:nth-of-type(4) h3 {
	color: var(--bijna-alle-tekst);
	font-size: 1.25rem;
}

main section:nth-of-type(2) a,
main section:nth-of-type(3) a,
main section:nth-of-type(4) a {
	display: inline-block;
	margin-top: 20px;
	padding: .75em 2.5em;
	/* font-size: 2rem; */
	font-family: "Poppins", sans-serif;
	color: var(--bijna-alle-tekst);
	background-color: var(--donkere-knopjes);
	text-decoration: none;
	border-radius: 2em;
	transition: background-color 0.3s ease;
	-webkit-text-decoration: none;
}

section:nth-of-type(2) a:hover,
section:nth-of-type(3) a:hover,
section:nth-of-type(4) a:hover {
	color: var(--donkerblauw);
	background-color: var(--lichtere-knopjes);
}

/* chatgptik wil een nieuwe sectie maken met de styling van die hero die ik je net heb gestuurd. alleen zonder de animaties enzo dus alleen een sectie met achtergrond foto,
h2 en een a in dezelfde styling */
/* Stijlen voor de 5e, 7e, 8e en 9e sectie */
section:nth-of-type(5),
section:nth-of-type(7),
section:nth-of-type(8),
section:nth-of-type(9) {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-top: 5%;
	overflow: hidden;
	border-radius: 25px;
}

section:nth-of-type(5) figure,
section:nth-of-type(7) figure,
section:nth-of-type(8) figure,
section:nth-of-type(9) figure {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(5) img,
section:nth-of-type(7) img,
section:nth-of-type(8) img,
section:nth-of-type(9) img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.75);
}

section:nth-of-type(5) figcaption,
section:nth-of-type(7) figcaption,
section:nth-of-type(8) figcaption,
section:nth-of-type(9) figcaption {
	position: absolute;
	color: var(--bijna-alle-tekst);
	text-align: center;
}

section:nth-of-type(5) a,
section:nth-of-type(7) a,
section:nth-of-type(8) a,
section:nth-of-type(9) a {
	display: inline-block;
	margin-top: 20px;
	padding: 1em 2.5em;
	/* font-size: 2rem; */
	font-family: "Poppins", sans-serif;
	color: var(--donkerblauw);
	background-color: var(--lichtere-knopjes);
	text-decoration: none;
	border-radius: 2em;
	transition: background-color 0.3s ease;
}

section:nth-of-type(5) a:hover,
section:nth-of-type(7) a:hover,
section:nth-of-type(8) a:hover,
section:nth-of-type(9) a:hover {
	background-color: var(--donkere-knopjes);
	color: var(--bijna-alle-tekst);
}

/* chatgpt:ik wil een sectie met boven aan een svg link waar je op kan klikken. daaronder een h2 met daaronder een a link alles gecentreerd. en daaronder heb je 2 images naast elkaar die iedereen 50%inemen van de sectie. dit weer graag semantisch zonder div als het kan en zonder id classes met gebruikte lettertype en button styling die ik ook op andere secties heb */
section:nth-of-type(6) {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 5%;
	padding: 5%;
	border-radius: 25px;
	background-image: url('../images/home-fotos/bg-spa-shop.png');
	background-size: cover;
	background-position: center;
}

section:nth-of-type(6) h2 {
	color: var(--donkere-knopjes);
}

section:nth-of-type(6) a:last-of-type {
	display: inline-block;
	margin-top: 20px;
	padding: 1em 2.5em;
	font-family: "Poppins", sans-serif;
	/* font-size: 1.5rem; */
	color: var(--bijna-alle-tekst);
	background-color: var(--donkerblauw);
	text-decoration: none;
	border-radius: 2em;
	transition: background-color 0.3s ease;
}

section:nth-of-type(6) a:last-of-type:hover {
	background-color: var(--lichtere-knopjes);
	color: var(--donkere-knopjes);
}

section:nth-of-type(6) figure {
	width: 50%;
	/* Zorg ervoor dat elk figuur 50% van de breedte neemt */
	display: inline-block;
	/* Zorg ervoor dat ze naast elkaar staan */
	margin: 0;
	/* Geen marge */
}

section:nth-of-type(6) figure img {
	width: 100%;
	/* Zorg ervoor dat de afbeelding 100% van de containerbreedte gebruikt */
	height: auto;
	/* Houd de aspectverhouding */
	object-fit: cover;
	/* Zorg ervoor dat de afbeelding goed wordt weergegeven */
}

section:nth-of-type(6) a:first-of-type {
	display: inline-block;
	/* Zorg ervoor dat de SVG als inline-block wordt weergegeven */
	margin-bottom: 20px;
	/* Ruimte onder de SVG */
}

/* formulier sectie */
/* chatgpt:"Kun je een CSS-stijl maken voor de zevende sectie van een formulier met een achtergrondafbeelding, afgeronde hoeken en een gekleurde tekst?" */
main section:nth-of-type(10) {
	color: var(--bijna-alle-tekst);
	line-height: 1.692307692307692;
	background-image: url(../images/newsletter-mob.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2%;
	border-radius: 25px;
	border-left: 15px solid var(--standaard-button-accent-kleur);
	border-right: 15px solid var(--standaard-button-accent-kleur);
	border-bottom: 15px solid var(--standaard-button-accent-kleur);

	display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 10% 3% 0 3%;
}

main section:nth-of-type(10) h2 {
	/* color: var(--bijna-alle-tekst); */
	text-align: center;
}

main section:nth-of-type(10) p {
	text-align: center;
	line-height: 1.692307692307692;
}

/* haal meer uit het leven */
main section:nth-of-type(10) p:last-of-type {
	font-size: 1.125rem;
	font-weight: bold;
}

/* vul email in inputveld */
input:first-of-type {
	width: 90%;
	padding: 4px 19px 0;
	background: var(--bijna-alle-tekst);
	border: 0;
	outline: 0;
	min-height: 40px;
	font-family: PoppinsMedium, arial, sans-serif;
	font-size: 15px;
	font-size: .9375rem;
	line-height: 1.666666666666667;
}

/* label tekst */
label {
	font-family: PoppinsMedium, arial, sans-serif;
	font-weight: bold;
	text-align: left;
	max-width: 285px;
	color: var(--bijna-alle-tekst);
}

/* ik schrijf me in button */
/* chatgpt:"Kun je me een CSS-stijl geven voor een inschrijfknop die netjes gecentreerd is, een ronde vorm heeft en gebruikmaakt van het lettertype 'Poppins'?" */
button {
	display: inline-flex;
	justify-content: center;
	/* Horizontaal centreren */
	align-items: center;
	/* Verticaal centreren */
	width: auto;
	/* Automatische breedte zodat de knop niet te beperkt is */
	padding: 0.5em 1.5em;
	/* Padding om ruimte binnen de knop toe te voegen */
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius: 25px;
	/* Ronde hoeken */
	font-family: "Poppins", sans-serif;
	text-align: center;
	column-gap: 0.25em;
	/* Ruimte tussen tekst en eventuele iconen */

	background-color: var(--bijna-alle-tekst);
	/* Witte achtergrondkleur */
	color: black;
	border: none;

	text-decoration: none;
	/* Verwijder onderlijning */
	-webkit-text-decoration: none;
	/* Verwijder onderlijning in Safari */
}

button:hover {
	color: var(--bijna-alle-tekst);
	background-color: var(--button-border);
}

/*************/
/* DE HEADER */
/*************/
/* https: //codepen.io/Berkeloeroe/pen/BagEamP ||| Met aanpassingen van chatgpt */
header {
	min-height: 4em;
	height: 88px;
	padding: 0 3%;
	background-color: var(--html-background);
	line-height: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	z-index: 10000000000;
}

/* Voor kleine schermen */
@media (max-width: 65em) {
	header {
		justify-content: space-between;
	}

	/* Logo aan de linkerkant */
	header>a:first-of-type {
		margin-right: auto;
		/* Zorgt ervoor dat het logo helemaal links staat */
	}

	/* Koop hier link helemaal rechts */
	header>a:last-of-type {
		order: 1;
		margin-right: 1em;
		/* Zet de "Koop hier" link rechts */
	}

	header nav {
		order: 2;
		/* Zet de hamburger menu knop rechts van de "Koop hier" link */
	}
}

header a {
	/* padding: .5em 0; */
	color: var(--menulinks);
	text-decoration: none;
}

/* huidige pagina link */
a[aria-current="page"] {
	color: #0671CE;
}

/********/
/* LOGO */
/********/
header>a:first-of-type {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap: .25em;
	align-items: center;
	font-weight: bold;
}

header>a:first-of-type img {
	height: 40px;
	z-index: 100001;
}

/* button van de docent */
header>a:last-of-type {
	width: 2.5em;
	height: 2.35em;
	display: flex;
	align-items: center;
	background-color: var(--menulinks);
	color: var(--html-background);
	border: 2px solid var(--button-border);
	padding-left: 2.1em;
	overflow: hidden;
	border-radius: 1.25em;

	background-image: url("../images/shopping-cart-outline-svgrepo-com.svg");
	background-size: 1.25em 1.25em;
	background-repeat: no-repeat;
	background-position: .45em .5em;

	font-family: "Poppins", sans-serif;
	z-index: 100008;
}

header>a:last-of-type:hover {
	background-color: var(--html-background);
	color: var(--donkere-knopjes);
	border: 2px solid var(--donkere-knopjes);
	background-image: url("../images/shopping-cart-outline-svgrepo-com\ \(2\).svg");

}

@media (width>40em) {
	header>a:last-of-type {
		width: auto;
		padding: 0 1em 0 2.5em;
	}
}

header>a:last-of-type img {
	width: auto;
	height: 2em;
}

/************/
/* HET MENU */
/************/

/***************/
/* MENU BUTTON */
/***************/
header nav button {
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--donkere-knopjes);
	position: relative;
	z-index: 100002;
}

header nav button img {
	height: 1em;
}

nav.toonMenu button {
	content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
	background-color: var(--donkere-knopjes);
}

/* deze weet ik niet meer wat hier mee was dus staat uit */
/* nav.toonMenu button img {
  content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
} */

/*******************/
/* LIJST MET LINKS */
/*******************/
header nav ul {
	margin: 0;
	padding: 6em 1em 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: start;
	background: var(--html-background);
	position: fixed;
	inset: 0;
	translate: -100%;
	z-index: 100000;
}

nav.toonMenu ul {
	translate: 0%;
}

/* deze weet ik niet meer wat hier mee was dus staat uit */
/* nav li {
   flex-basis: 9em;
  flex-grow: 1; 
} */

/************************/
/* EEN LINK IN DE LIJST */
/************************/
header nav a {
	display: flex;
	justify-content: left;
	align-items: center;
	white-space: nowrap;
	height: 4em;
	font-size: 1.25em;
	font-family: 'Recoleta', sans-serif;
}

header nav a img {
	width: auto;
	height: 2em;
}

header nav a.active {
	font-weight: bold;
}

/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width: 65em) {
	header nav {
		order: 0;
	}

	header nav button {
		display: none;
	}

	header nav ul {
		position: static;
		translate: none;
		background: none;
		padding: 0;
		justify-content: center;
		flex-direction: row;
		gap: 1em;
	}

	header nav li {
		flex-basis: auto;
		/* flex-grow: 0; */
	}

	header nav a {
		/* padding: 0.5em 1em; */
		text-align: center;
		white-space: nowrap;
		font-size: 16px;
		/* Voorkom afbreken van tekst */
	}

	header>a:last-of-type {
		flex-direction: column;
	}
}

/****************************************************************/
/* Footer */
/****************************************************************/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 10%;
	background-color: var(--footerbg);
}

footer h3 {
	color: var(--bijna-alle-tekst);
	font-size: 1rem;
}

/* 2 grote svgs */
footer svg {
	width: 125px;
	padding-bottom: 1em;
}

/* klanten service button */
footer>a:first-of-type {
	display: inline-flex;
	justify-content: center;
	/* Horizontaal centreren */
	align-items: center;
	/* Verticaal centreren */
	width: auto;
	/* Automatische breedte zodat de knop niet te beperkt is */
	padding: 0.5em 1.5em;
	/* Padding om ruimte binnen de knop toe te voegen */
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius: 25px;
	/* Ronde hoeken */
	font-family: "Poppins", sans-serif;
	text-align: center;
	column-gap: 0.25em;
	/* Ruimte tussen tekst en eventuele iconen */

	background-color: var(--lichtere-knopjes);
	/* Witte achtergrondkleur */
	color: var(--donkerblauw);
	/* Kleur van de tekst */
	border: 2px solid var(--bijna-alle-tekst);
	/* Randkleur aanpassen aan de tekstkleur */

	text-decoration: none;
	/* Verwijder onderlijning */
	-webkit-text-decoration: none;
	/* Verwijder onderlijning in Safari */

}

/* social media links */
footer nav svg {
	width: 50px;
}

/* social medias naast elkaar */
footer nav:first-of-type ul {
	display: flex;
}

footer nav {
	gap: 1em;
}

/* nav a links */
footer a {
	font-family: "Poppins", sans-serif;
	font-size: .6875rem;
	text-decoration: none;
	color: var(--bijna-alle-tekst);
}

footer ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1.5em;
	list-style: none;
}

/* onderste witte sectie footer */
footer section {
	width: 100%;
	/* Breedte van 100% van de footer */
	padding: 0;
	background-color: var(--html-background);
}

/* bolletjes weg */
footer section li {
	list-style: none;
}

/* tekst kleur op donkere achtergrond */
footer section a {
	color: var(--secundaire-lichte-tekst-kleur);
}

/* copyright footer */
small {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Poppins", sans-serif;
	gap: .9em;
	padding-bottom: 2%;
}

footer img {
	width: 70px;
}

/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width: 54em) {

	header>a:last-of-type,
	nav a {
		flex-direction: row;
	}
}


/* Stijlen voor dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bijna-alle-tekst: #fff;
		--html-background:#18232c;
		--donkere-knopjes: #18232c;
		--lichtere-knopjes: #fff;
		--donkerblauw:#18232c;
		--menulinks:#fff;
		--button-border:#fff;
	}
}

/* chatgpt:in css hoe kan ik snel styling geven op focus en andere toegankelijke dingen */
/* a:focus {
  outline: 2px dashed red;
  outline-offset: 4px;
} */

a:focus-visible {
	outline: 2px solid hotpink;
	/* Fel oranje voor focus zichtbaar voor toetsenbordgebruikers */
	outline-offset: 4px;
}

a:active {
	color: #003366;
	/* Nog donkerder blauw tijdens actief klikken */
}

/* a:visited {
  color: #6c757d;
} */


/* @media screen and (min-width: 1000px) {
	body main {
		padding: 0 1%;		
	}

	h1, h2 {
		max-width: 10em;
	}

	section:first-of-type a.cta {
		font-size: .9rem;
	}


} */
