/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:black;
	--color-background:white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
section {
  padding-top: 5%;
}