/* scroll naar beneden om de uitwerking te bekijken */

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* https://github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(disabled) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --general-color:#263746;
  --general-background:#fff;
  
  --header-gradient:linear-gradient(#f8a, #fbd);
  
  --menu-gradient:linear-gradient(#8af, #bdf);
  --menu-border:#46f;
  
  --button-color:#263746ff;
  --button-background:#f46;
  
  --title-gradient:linear-gradient(#f46 40%, #f8a 80%);
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  margin:0;
  background-color:var(--general-background);
  color:var(--general-color);
}


/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/
/* jouw code */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10% 3% 0 3%;}

  section:nth-of-type(3) {
    /* Jouw stijlen hier */
    text-align: left;
}

footer {
  padding-top: 10%;
}

h1, h2, h3 {
  color:var(--general-color);
  font-size: 2.125rem;
}

p {
  font-size: 1.3rem;
}

img {
  max-width: 300px;
}

/*************/
/* DE HEADER */
/*************/
header {
  min-height:5.5em;
  padding:0 1em;
  /* background-image:var(--header-gradient); */
  background-color: var(--general-background);
  line-height:1;
  
  /* Flexbox voor lay-out */
  display:flex;
  justify-content: space-between;
  align-items: center;
  
  /* Positie vastzetten bij scrollen */
  position:sticky;
  top:0;
}

/* alle links in de header */
header a {
  padding:.5em 0;
  color:var(--general-color);
  text-decoration:none;
}


/********/
/* LOGO */
/********/
header > a:first-of-type {
  /* om het boek en de titel te positioneren */
  display:grid;
  grid-template-columns:min-content min-content;
  grid-gap:.25em;
  align-items:center;
  
  font-weight:bold; 
}

header > a:first-of-type img {
  height:3em;
}


/**********/
/* FAVO's */
/**********/
header > a:last-of-type {
  /* icon en tekst met gap-je naast elkaar */
  display:flex;
  align-items:center;
  column-gap:.25em;
}

/* link icon */
header > a:last-of-type img {
  width:auto;
  height:2em;
}


/************/
/* HET MENU */
/************/
/* nav {
  order: -1;
} */


/***************/
/* MENU BUTTON */
/***************/
nav button {
  padding:.5em;
  
  /* icon en tekst met gap-je naast elkaar */
  display:flex;
  align-items:center;
  gap:.25em;
  
  /* standaard styling aanpassen */
  appearance:none;
  background-color:var(--button-background);
  border:none;
  border-radius:.25em; 
  font:inherit;
  text-align:center;
  color:var(--button-color);
  
  position:relative;
  z-index:100000;
}

nav button img {
  height:1em;
}

/* als menu open is */
nav.toonMenu button img a{
  /* url kruisje: https://assets.codepen.io/274456/ui-icon-cross.svg */
  content:url("https://assets.codepen.io/274456/ui-icon-cross.svg");

}


/*******************/
/* LIJST MET LINKS */
/*******************/
nav ul { 
  margin:0; 
  padding:2em 1em; /* Verandering van padding om ruimte toe te voegen */
  list-style:none;
  
  display:flex;
  flex-direction:column; /* Items onder elkaar */
  align-items: flex-start; /* Links uitlijnen */
  gap:1em;
  
  background:var(--general-background);
  
  /* Begin buiten beeld bovenaan */
  position:fixed;
  inset:0;

/* Verberg het menu bovenaan */
  translate: 0 -100%; 
  
  /* Voor een vloeiende animatie */
  /* transition: 1s;  */
}

/* als menu open is */
nav.toonMenu ul {
  translate: 0 0; /* Schuif naar beneden */
}

nav li {
  flex-basis:100%; /* Zorgt ervoor dat elk item de volledige breedte van het menu gebruikt */
}

/************************/
/* EEN LINK IN DE LIJST */
/************************/
nav a {
  /* icon en tekst met gap-je naast elkaar */
  display:flex;
  align-items:center;
  column-gap:.25em;
  
  /* border:solid 1px var(--menu-border); */
  width:100%; /* Zorgt ervoor dat de link de volledige breedte van het menu gebruikt */
  
}

nav a img {
  width:auto;
  height:2em;
}

nav a.active {
  font-weight:bold;
}


/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width:38em) {
  nav {
    order:0;
  }
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    translate:none;
    background: none;
    padding:0;
    flex-direction:row; /* Lijn items horizontaal uit */
    align-items: center;
  }
  
  nav li {
    flex-basis:auto; /* Zorgt ervoor dat items hun inhoud omarmen */
  }
  
  nav a {
    flex-direction:row; /* Zet items horizontaal uit */
    border: none;
  }
  
  header > a:last-of-type {
    flex-direction:row; /* Zet items horizontaal uit */
  }
}


/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width:54em) {
  header > a:last-of-type,
  nav a {
    flex-direction:row; /* Zet items horizontaal uit */
  }
}


/***********/
/* CONTENT */
/***********/

main h1,
main p {
  max-width:40rem;
  margin:0 auto;
  line-height:1.75;
}

main h1 {
  padding:5vw 2.5vw 0;
  
  background-image:var(--title-gradient);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
}

main p {
  padding:0 2.5vw 2.5vw;
}
