/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#263746;
	--color-background:white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
section {
  /* text-align: center; */
  padding-top: 5%;
}

h1, h2, h3 {
  color:var(--color-text)
}

img {
  max-width: 300px;
}