@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
    
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(disabled) {
  cursor:pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --general-color:#263746;
  --general-background:#fff;
  
  --header-gradient:linear-gradient(#f8a, #fbd);
  
  --menu-gradient:linear-gradient(#8af, #bdf);
  --menu-border:#46f;
  
  --button-color:#263746ff;
  --button-background:#263746;
  
  --title-gradient:linear-gradient(#f46 40%, #f8a 80%);
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  margin:0;
  background-color:var(--general-background);
  overflow-x: hidden;
  color:var(--general-color);
}


/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/
/* jouw code */


/* headings */
h1 {
  color: white;
  font-size: 2.125rem;
  font-family: 'Recoleta', sans-serif;
}

h2 {
  color: var(--general-color);
  font-size: 2.125rem;
  font-family: 'Recoleta', sans-serif;
  margin: 0;
  text-align: left;
}

h3 {
  color: var(--general-background);
  font-size: 1rem;
  font-family: 'Recoleta', sans-serif;
  margin: 0;
}

/* body tekst */
p {
  font-size: 0.875em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 2.142857142857143;
  text-align: left;
}

/* secties */
section {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  padding: 10% 3% 0 3%;
}

section:nth-of-type(2) {
  text-align: left;
}

section:nth-of-type(3) {
  text-align: left;
}

/* samenstelling button */
section:nth-of-type(3) a {
  border-radius: 30px;
  border: 2px solid #fff;
  color: white;
  line-height: 38px;
  padding-left: 3em;
  max-width: 100%;
  padding-right: 3em;
  background-color: var(--button-background);

  -webkit-text-decoration: none;/* Verwijder onderlijning voor Safari */
  text-decoration: none;
}

/* formulier sectie */
section:nth-of-type(7) {
  color: var(--general-background);
  line-height: 1.692307692307692;
  background-image: url(../images/newsletter-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  /* height: 60vh; */
}

section:nth-of-type(7) p {
  line-height: 1.692307692307692;
}

input {
  width: 100%;
  padding: 4px 19px 0;
  background: #fff;
  border: 0;
  outline: 0;
  min-height: 40px;
  font-family: PoppinsMedium,arial,sans-serif;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 1.666666666666667;
}

label {
  font-family: PoppinsMedium,arial,sans-serif;

}



section:nth-of-type(7) h2 {
  color: var(--general-background);
  text-align: center;
}

section:nth-of-type(7) p {
  text-align: center;
}

/* secties met 3 figures */
figure {
  /* display: flex; */
  justify-content: center; /* Horizontaal centreren */
  align-items: center;     /* Verticaal centreren */
  flex-direction: column;  /* Stapelt items verticaal (voor figcaption en img) */
  height: 100%;            /* Als je wilt dat de figuur de volledige hoogte krijgt */
  text-align: center;      /* Zorgt ervoor dat tekst gecentreerd is */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* huidige pagina link */
a[aria-current="page"] {
  color: #0671CE;
}

/* foto's */
img {
  max-width: 300px;
}


/*************/
/* DE HEADER */
/*************/
header {
  min-height: 4em;
  height: 88px;
  padding: 0 3%;
  background-color: white;
  line-height: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 10000000000;
}

header svg {
  width: 55px;
}

/* Voor kleine schermen */
@media (max-width: 38em) {
  header {
    justify-content: space-between;
  }

  /* Logo aan de linkerkant */
  header>a:first-of-type {
    margin-right: auto;/* Zorgt ervoor dat het logo helemaal links staat */
  }

  /* Koop hier link helemaal rechts */
  header>a:last-of-type {
    order: 1;
    margin-right: 1em;/* Zet de "Koop hier" link rechts */
  }

  header nav {
    order: 2;/* Zet de hamburger menu knop rechts van de "Koop hier" link */
  }
}

header a {
  padding: .5em 0;
  color: var(--general-color);
  text-decoration: none;
}

/********/
/* LOGO */
/********/
header>a:first-of-type {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: .25em;
  align-items: center;
  font-weight: bold;
}

header>a:first-of-type img {
  height: 3em;
  z-index: 100001;/* Zorgt ervoor dat het logo boven het menu staat */
}

/* Koop hier knop */
header>a:last-of-type {
  display: flex;
  justify-content: center;/* Horizontaal centreren */
  align-items: center;/* Verticaal centreren */
  width: 40px;/* Zorg dat de breedte gelijk is aan de hoogte voor een cirkel */
  height: 40px;/* Pas deze waarde aan om de grootte van de cirkel te bepalen */
  border-radius: 50%;/* Maak het element rond */
  font-family: "Poppins", sans-serif;
  text-align: center;
  column-gap: 0.25em;

  background-color: var(--button-background);/* Achtergrondkleur */
  color: var(--general-background);/* Kleur van de tekst en SVG */

  border: 2px solid #fff;/* Witte rand */

  text-decoration: none;/* Verwijder onderlijning */
  -webkit-text-decoration: none;/* Verwijder onderlijning in Safari */
    z-index: 100008;
}

/* Koop hier knop */
header>a:last-of-type svg {
  width: 20px;/* Pas aan naar gewenste grootte van de SVG */
  height: 20px;/* Pas aan naar gewenste grootte van de SVG */
  fill: currentColor;/* Zorg ervoor dat de SVG de kleur van de tekst overneemt */
    /* Zorgt ervoor dat de hamburger button altijd boven het menu staat */
}

header>a:last-of-type img {
  width: auto;
  height: 2em;
}

/************/
/* HET MENU */
/************/

/***************/
/* MENU BUTTON */
/***************/
header nav button {
  padding: .5em;
  display: flex;
  align-items: center;
  gap: .25em;
  appearance: none;
  /* background-color: var(--button-background); */
  border: none;
  border-radius: .25em;
  font: inherit;
  text-align: center;
  color: var(--button-color);
  position: relative;
  z-index: 100002;/* Zorgt ervoor dat de hamburger button altijd boven het menu staat */
}

header nav button img {
  height: 1em;
}

nav.toonMenu button {
  content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
  background-color: var(--button-background);
}

nav.toonMenu button img {
  content: url("https://assets.codepen.io/274456/ui-icon-cross.svg");
}

/*******************/
/* LIJST MET LINKS */
/*******************/
header nav ul {
  margin: 0;
  padding: 6em 1em 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  background: white;
  position: fixed;
  inset: 0;
  translate: -100%;
  z-index: 100000;
  /* Het menu blijft onder de button en logo */
}

nav.toonMenu ul {
  translate: 0%;
}

/* nav li {
   flex-basis: 9em;
  flex-grow: 1; 
} */

/************************/
/* EEN LINK IN DE LIJST */
/************************/
header nav a {
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: nowrap;
  height: 4em;
  font-size: 1.25em;
  font-family: 'Recoleta', sans-serif;
}

header nav a img {
  width: auto;
  height: 2em;
}

header nav a.active {
  font-weight: bold;
}

/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/
@media (min-width: 38em) {
  header nav {
    order: 0;
  }

  header nav button {
    display: none;
  }

  header nav ul {
    position: static;
    translate: none;
    background: none;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
  }

  header nav li {
    flex-basis: auto;
    /* flex-grow: 0; */
  }

  header nav a {
    /* padding: 0.5em 1em; */
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    /* Voorkom afbreken van tekst */
  }

  header>a:last-of-type {
    flex-direction: column;
  }
}

/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width: 54em) {

  header>a:last-of-type,
  nav a {
    flex-direction: row;
  }
}



/****************************************************************/
/* hero sectie */
/****************************************************************/
.hero {
  position: relative;
  height: 90vh;
  /* Volledige hoogte van het venster */
  overflow: hidden;

  border-radius: 0 0 25px 25px;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
}

.hero p {
  text-align: center;
  color: var(--general-background);
}

.hero a {
  color: var(--general-background);
  text-decoration: none;
  font-family: "Poppins", sans-serif;}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content h1 {
  order: 1;
  /* Houd het h1 element op de eerste plek */
}

.hero-content p {
  order: 3;
  /* Verplaats het p element naar de derde plek */
}

.hero-content .cta-button {
  order: 2;
  /* Verplaats de a (cta-button) naar de tweede plek */
}




/****************************************************************/
/* Footer */
/****************************************************************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  background-color: var(--general-color);
}

/* 2 grote svgs */
footer svg {
  width: 125px;
  padding-bottom: 1em;
}

/* klanten service button */
footer > a:first-of-type {
  display: inline-flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  width: auto; /* Automatische breedte zodat de knop niet te beperkt is */
  padding: 0.5em 1.5em; /* Padding om ruimte binnen de knop toe te voegen */
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 25px; /* Ronde hoeken */
  font-family: "Poppins", sans-serif;
  text-align: center;
  column-gap: 0.25em; /* Ruimte tussen tekst en eventuele iconen */

  background-color: #ffffff; /* Witte achtergrondkleur */
  color: var(--general-color); /* Kleur van de tekst */
  border: 2px solid var(--general-color); /* Randkleur aanpassen aan de tekstkleur */
  
  text-decoration: none; /* Verwijder onderlijning */
  -webkit-text-decoration: none; /* Verwijder onderlijning in Safari */

}

/* social media links */
footer nav svg {
  width: 50px;
}

footer nav:first-of-type ul {
  display: flex;
}

/* links */
footer a{
  font-family: "Poppins", sans-serif;
  font-size: .6875rem;
  text-decoration: none;
  color: white;
}

footer ul {
  padding: 0;
}

/* onderste witte sectie footer */
footer section {
  width: 100%; /* Breedte van 100% van de footer */
  padding: 0;
  background-color: var(--general-background);
}

footer section li {
  list-style: none;
}

footer section a {
  color: var(--general-color);
} 

/* copyright footer */
small {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
  gap: .9em;
  padding-top: 9%;
  padding-bottom: 9%;
}

footer img {
  width: 80px;
}